@model Too.Models.TAG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TAG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMTAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMTAG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTAGPROD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
